h1,
    .fancy-header {
    color: purple;
    text-decoration: underline;
}

h1 { text-align: center; }

h1, h3 {
    color:red;
    text-decoration: underline;
}

body {
    background-color: burlywood;
    background-image: url(https://cdn.hipwallpaper.com/i/32/33/cvtIXn.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

ul {
    list-style: lower-roman;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

a:link, a:visited {
    color: white;
    background-color: #1ebba3;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #099983;
    text-decoration: none;
    text-align: center;
    font: 14px Arial, sans-serif;
}






